.App {
  text-align: center;
}




img{
  height: 200px;
  width: 200px;
}

.sportType{
  border: 2px solid red;

}

.surroundingsports{
  display: flex;
  flex-wrap:

}


.sportdetail{
  display: flex;
  border: 2px solid green;
  /* width: 40%; */
}

.sportsList{
  display: flex;
  border: 1px solid red;
  flex-flow: wrap;
}

.mapInfo{
  flex: 2;
  border: 1px solid blue;
}
