.App {
  text-align: center;
}


post :{
  articles: {

  }
}

img{
  height: 200px;
  width: 200px;
}

.sportsListing{
  display: flex;

}
.sportType{
  /* flex: 1; */
  border: 2px solid red;

}

.surroundingsports{
  display: flex;
  flex-wrap:

}


.sportdetail{
  position:relative;
  border: 2px solid green;

}

.sportsList{
  width: 40%;
  border: 1px solid red;

}

.mapName{
  width: 20%;
  height: 20%;
}


.mapInfo{

  /* flex: 1; */
  border: 1px solid blue;
}
