.App {
  text-align: center;


}

html{

  background: url('./sport-images/nyc2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */


}

img{
  height: 200px;
  width: 200px;
}

.sportsListing{
  display: flex;

}
.sportType{
  /* flex: 1; */
  border: 2px solid red;

}

.surroundingsports{
  display: flex;
  flex-wrap:

}

.intro{
  font-size: 3em;
  color:white;
}

.title{
  font-size: 4em;
  color:white;
}

.favSportAll{
  border: 2px solid blue;
  display:flex;
  /* flex-wrap: wrap; */

}

.favSportList{
  border: 1px solid red;
  width:50%;
  /* flex: 2; */
}

.favSportList2{
  border: 1px solid yellow;
  /* flex: 2; */
  width:50%;
}

.favSportList3{
  border: 1px solid green;
  width:50%;
  /* flex: 2; */
}


.sportdetail{
  position:relative;
  border: 2px solid green;
  flex: 2;

}

.sportsList{
  width: 40%;
  border: 1px solid red;

}

.mapName{
  width: 20%;
  height: 20%;
}

.formDesign{
  background-color: rgba(255, 255, 255, 0.3);
  width: 40%;
  margin: 0 auto;
  color:black;
  font-size: 1.2em;

}

.mapInfo{

  /* flex: 1; */
  border: 1px solid blue;
}
